@charset "utf-8";

/* 폰트정의 (Noto Sans) */
@font-face {
    font-family: 'notokr';
    src: url('../../font/notokr-light.eot');
    src: url('../../font/notokr-light.eot?#iefix') format('embedded-opentype'),
         url('../../font/notokr-light.woff2') format('woff2'),
         url('../../font/notokr-light.woff') format('woff'),
         url('../../font/notokr-light.ttf') format('truetype'),
         url('../../font/notokr-light.svg#notokr-light') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'notokr';
    src: url('../../font/notokr-demilight.eot');
    src: url('../../font/notokr-demilight.eot?#iefix') format('embedded-opentype'),
         url('../../font/notokr-demilight.woff2') format('woff2'),
         url('../../font/notokr-demilight.woff') format('woff'),
         url('../../font/notokr-demilight.ttf') format('truetype'),
         url('../../font/notokr-demilight.svg#notokr-light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'notokr';
    src: url('../../font/notokr-regular.eot');
    src: url('../../font/notokr-regular.eot?#iefix') format('embedded-opentype'),
         url('../../font/notokr-regular.woff2') format('woff2'),
         url('../../font/notokr-regular.woff') format('woff'),
         url('../../font/notokr-regular.ttf') format('truetype'),
         url('../../font/notokr-regular.svg#notokr-regular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'notokr';
    src: url('../../font/notokr-medium.eot');
    src: url('../../font/notokr-medium.eot?#iefix') format('embedded-opentype'),
         url('../../font/notokr-medium.woff2') format('woff2'),
         url('../../font/notokr-medium.woff') format('woff'),
         url('../../font/notokr-medium.ttf') format('truetype'),
         url('../../font/notokr-medium.svg#notokr-medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'notokr';
    src: url('../../font/notokr-bold.eot');
    src: url('../../font/notokr-bold.eot?#iefix') format('embedded-opentype'),
         url('../../font/notokr-bold.woff2') format('woff2'),
         url('../../font/notokr-bold.woff') format('woff'),
         url('../../font/notokr-bold.ttf') format('truetype'),
         url('../../font/notokr-bold.svg#notokr-bold') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'notokr';
    src: url('../../font/notokr-black.eot');
    src: url('../../font/notokr-black.eot?#iefix') format('embedded-opentype'),
         url('../../font/notokr-black.woff2') format('woff2'),
         url('../../font/notokr-black.woff') format('woff'),
         url('../../font/notokr-black.ttf') format('truetype'),
         url('../../font/notokr-black.svg#notokr-black') format('svg');
    font-weight: 800;
    font-style: normal;
}
body {font-family:"notokr", '맑은 고딕', 'Malgun Gothic', sans-serif; font-weight: 400;}
strong {font-weight: 600;}

/* 폰트정의 (나눔고딕)
@font-face {
	font-family:"NanumGothic";
	src:url(../../font/NanumGothic.eot);
	src:local("NanumGothic"),
	url(../../font/NanumGothic.eot?#iefix) format('embedded-opentype'),
	url(../../font/NanumGothic.woff) format('woff');
	font-style: normal;
	font-weight:400;
}
@font-face {
	font-family:"NanumGothic";
	src:url(../../font/NanumGothicBold.eot);
	src:local("NanumGothicBold"),
	url(../../font/NanumGothicBold.eot?#iefix) format('embedded-opentype'),
	url(../../font/NanumGothicBold.woff) format('woff');
	font-style: normal;
	font-weight:600;
}
@font-face {
	font-family:"NanumGothic";
	src:url(../../font/NanumGothicExtraBold.eot);
	src:local("NanumGothicBoldExtraBold"),
	url(../../font/NanumGothicExtraBold.eot?#iefix) format('embedded-opentype'),
	url(../../font/NanumGothicExtraBold.woff) format('woff');
	font-style: normal;
	font-weight:900;
}
body {font-family:"Nanum Gothic", '맑은 고딕', 'Malgun Gothic', sans-serif;} */

/* 폰트정의 (나눔스퀘어) */
@font-face {
  font-family: 'nanumsquare';
  font-style: normal;
  font-weight: 400;
  src: url(../../font/NanumSquareR.eot);
  src: local('Nanum Square Regular'),
       local('NanumSquareR'),
       url(../../font/NanumSquareR.eot?#iefix) format('embedded-opentype'),
       url(../../font/NanumSquareR.woff2) format('woff2'),
       url(../../font/NanumSquareR.woff) format('woff'),
       url(../../font/NanumSquareR.ttf) format('truetype');
}

@font-face {
  font-family: 'nanumsquare';
  font-style: bold;
  font-weight: 600;
  src: url(../../font/NanumSquareB.eot);
  src: local('Nanum Square Bold'),
       local('NanumSquareB'),
       url(../../font/NanumSquareB.eot?#iefix) format('embedded-opentype'),
       url(../../font/NanumSquareB.woff2) format('woff2'),
       url(../../font/NanumSquareB.woff) format('woff'),
       url(../../font/NanumSquareB.ttf) format('truetype');
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin:0; padding:0;}

html {border:0;}
body {font-size:14px; color:#767676; position:relative; letter-spacing:-0.06em; border:0;}

/*
body,input,textarea,select,button, p, span {text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-moz-font-feature-settings:'liga', 'kern'} 웹폰트 anti-aliasing */

h1, h2, h3, h4, h5, h6 {font-size:100%; font-weight:normal;}

div, ul, ol, li {overflow:hidden;}

legend {visibility:hidden; width:0; height:0; overflow:hidden; position:absolute; top:-10000px; line-height:0;}

hr {display:none;}

img, fieldset, input.image {border:0 none;}

ul, ol, li {list-style:none outside;}

input, select, button, textarea {vertical-align:baseline; font-family:inherit; color:#555;}
button {border:0;}
input {outline:none;}

/*
select {
cursor:pointer;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}*/

/* 표준브라우저의 네이티브 화살표 숨기기 */
select { -webkit-appearance: none; }
/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand { display: none; }

address, em {font-style:normal;}

/*.hidden {visibility:hidden; width:0; height:0; overflow:hidden; position:absolute; top:-10000px; line-height:0;}*/
.text_hidden {font-size:0; line-height:0; text-indent:-9999px;}

input, a, strong, span, label, em, select {display:inline-block; box-sizing:border-box; vertical-align:middle;}
div, p, ul, ol, li, textarea {display:block; box-sizing:border-box;}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 링크 정의 */
a {color:#767676; text-decoration:none; cursor:pointer;}
a:link {color:#767676;}
a:visited {color:#767676;}
a:hover {color:#767676;}

/* 단어 단위 줄바꿈 */
* {word-break: keep-all;}

/* 테이블 기본 정의 */
table {width:100%; border-spacing:0; border-collapse:collapse; padding:0; margin:0; table-layout:fixed; word-break:break-all;}
table th {font-weight:normal;}
caption {visibility:hidden; width:0; height:0; overflow:hidden; line-height:0;}
th, td {padding:0; margin:0; font-size:1em;}

/* 내용 말줄임표로 줄이기 */
.ellipsis {white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.ellipsis.multiline {white-space:normal;}

/* html5 요소 block */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

/* 취소 클래스 */
.f-lft {float:left !important;}
.f-rgt {float:right !important;}
.clear {clear:both !important;}
.t-lft {text-align:left !important;}
.t-ctr {text-align:center !important;}
.t-rgt {text-align:right !important;}
.no-bg {background-image:none !important;}
.no-ml {margin-left:0 !important;}
.no-mr {margin-right:0 !important;}
.no-pl {padding-left:0 !important;}
.no-pr {padding-right:0 !important;}
.no-pr {padding-right:0 !important;}
.no-text {font-size:0px !important; line-height:0px !important; text-indent:-9999px !important;}

/* 간격 */
.mgt0 {margin-top:0px !important;}
.mgt5 {margin-top:5px !important;}
.mgt10 {margin-top:10px !important;}
.mgt15 {margin-top:15px !important;}
.mgt20 {margin-top:20px !important;}
.mgt30 {margin-top:30px !important;}
.mgt40 {margin-top:40px !important;}
.mgt50 {margin-top:50px !important;}
.mgt60 {margin-top:60px !important;}

.mgb0{margin-bottom:0px !important;}
.mgb5 {margin-bottom:5px !important;}
.mgb10 {margin-bottom:10px !important;}
.mgb15 {margin-bottom:15px !important;}
.mgb20 {margin-bottom:20px !important;}
.mgb30 {margin-bottom:30px !important;}
.mgb40 {margin-bottom:40px !important;}
.mgb50 {margin-bottom:50px !important;}
.mgb60 {margin-bottom:60px !important;}

.mgr0 {margin-right:0px !important;}
.mgr5 {margin-right:5px !important;}
.mgr10 {margin-right:10px !important;}
.mgr15 {margin-right:15px !important;}
.mgr20 {margin-right:20px !important;}
.mgr30 {margin-right:30px !important;}
.mgr40 {margin-right:40px !important;}
.mgr50 {margin-right:50px !important;}
.mgr60 {margin-right:60px !important;}

.mgl0{margin-left:0px !important;}
.mgl5 {margin-left:5px !important;}
.mgl10 {margin-left:10px !important;}
.mgl15 {margin-left:15px !important;}
.mgl20 {margin-left:20px !important;}
.mgl30 {margin-left:30px !important;}
.mgl40 {margin-left:40px !important;}
.mgl50 {margin-left:50px !important;}
.mgl60 {margin-left:60px !important;}
